body {
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    
    
}

#header{
    background-color: #202954;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    
}

#logo{
    width: 100px;
}

#app {
    text-align: center;
    width: 100%;
    
    
}

#map-box{
    box-sizing: border-box;
    width: 100%;
    
}

#menu-class{
    display: flex;
    padding-left: 10vw;
    padding-top: 1vw;
    padding-right: 10vw;
}

label{
    text-align: left;
    white-space: nowrap;
}

#first-menu, #second-menu{
    font-family: 'Oswald', sans-serif;
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    font-size: 3vw;
    font-color: black;
    color: black;
    background-color: white;
    margin-left: 10px;
}

button {
    
    padding: 8px, 10px, 8px, 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    background-color: #202954;
    border-radius: 12px;
    text-decoration: none;
    max-width: 50%;
    
}

#selected-image {
    max-width: 100%;
}

#map{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

#login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#login-form {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 10px;
    padding: 8px;
}
